
### Use this file as a template to create your own terraform.tfvars file ###

### Set values for variables ###

project_name = "library-challenge"
stage        = "dev"
region       = "us-east-1"
db_username  = "dbadmin"
db_password  = "your-secure-password"
db_name      = "librarydb"
db_port      = 5432
